html{

    scroll-snap-type: y mandatory;
}

.app{
    height: 100vh;
     background-color: black;
     display: grid;
     place-items: center;
    
}

.app_videos{ 
position: relative;
height: 500px;
overflow: scroll;
width: 80%;
max-width: 500px;
scroll-snap-type: y mandatory  ;
}
/* Hide scrollbar for chrome, safar and opera */
.app_vides::-webkit-scrollbar{
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.app_videos{
-ms-overflow-style:none;
scrollbar-width: none;
}